/*****************************************************************************/
/*                     Hoja de estilo de salmorejo.html                      */
/*                     Autor: Sergio Gamez Ortega                            */
/*                     Version: 1.0                                          */
/*                     Fecha: Octubre de 2023                                */
/*                     Comentario: Trabajo de Lenguaje de Marcas             */
/*****************************************************************************/


@font-face {
    font-family: cartoon;
    src: url(../font/PLAYFULCARTOON.ttf);
}

@font-face {
    font-family: glimp;
    src: url(../font/Glimp-CondensedThin.ttf);
}

/* Las medidas de ancho y alto se deben calcular del borde hacia adentro */
/* IMPORTANTE PARA LAYOUTS COMPLEJOS */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(247, 228, 206);
    font-size: 1.2em;   /* em y rem son medidas exclusivas para texto */
}

#wrapper {
    font-family: cartoon;
    background-image: linear-gradient(rgb(230, 162, 99), rgb(239, 197, 152));
    width: 80%; /* Para width la medida suele ser % */
    margin: auto;
    padding: 5%;
}

h1, h2 {
    font-family: glimp;
}